/huhuiyu.codebuilder/bin
/huhuiyu.codebuilder/.gradle
/huhuiyu.codebuilder/.classpath
/huhuiyu.codebuilder/.project
/huhuiyu.codebuilder/.settings
/huhuiyu.codebuilder/logs
/huhuiyu.codebuilder/build
